body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.header {
  background-image: url("../images/the-flatiron-building.png");
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

nav li {
  list-style: none;
  font-size: 18px;
}

a {
  color: white;
}

footer {
  font-size: 11px;
  background-color: dimgray;
}

footer li {
  list-style: none;
  display: inline;
}

footer p {
  color: white;
  display: inline;
}
